html {
  font-family: JetBrains Mono, monospace, sans-serif;
}

.centeredDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1);
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  transition: transform 0.2s;
}

.grid-item:hover {
  transform: scale(1.5);
}

.image-grid img {
  max-width: 120px;
  height: auto;
}

.box {
  width: 90%;
  max-width: 1600px;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  text-wrap: pretty;
}

.box1PFP {
  width: 20px;
  height: 20px;
  max-width: 100px;
  max-height: 100px;
}

.box2 {
  width: 90%;
  max-width: 1600px;
  min-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid gray;;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
  
}

.aboutmePadding {
  padding-top: 1%;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}

.mail {
  margin: 5px auto;
  width: 95%;
  max-width: 1600px;
  min-width: 300px;
  height: 100%;
  max-height: 1800px;
  min-height: 500px;
  border: 1px solid gray;
  padding-left: 20px;
  padding-right: 20px;
  background-image:url("img/");
}

.text {
  color: #333;
  font-size: 16px;
  justify-content: center;
}
