body {
  font-family: 'jetBrains Mono';
}

.header-text {
  font-weight: bold;
  font-size: medium;
}

.text-box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  max-width: 400px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.text-box:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.hidden-text {
  display: none;
  margin-top: 10px;
}

.text-box.expand .hidden-text {
  display: block;
}